body {
    background-color: #43728c;
    background-image: url('assets/images/indexBgImg.jpg');
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
}

.frontPage {
    margin-top: 20px;
}

.nameText {
    font-family: 'Cormorant Upright', serif;
    text-align: center;
}

.flow-text {
    font-size: 55px;
    margin: 0;
}

.descText {
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    text-align: center;
    margin-top: -35px;
    letter-spacing: 0.9px;
    color: #a8b8bf;
}

.vaMapImg {
    max-width: 800px;
    margin-top: 25px;
    justify-content: center;
}

.apiResults {
    overflow: scroll;
    border: 3px;
    border-color: black;
}

.savedResults {
    overflow: scroll;
    border: 3px;
    border-color: black;
}