body {
    background-color: #322634;
    font-family: 'Jaldi', sans-serif;
    font-size: 18px;
}

.headerImage {
    display: block;
    width: 100%;
    height: auto;
    
}

.headerText {
    margin-top: -85px;
}

.nameText {
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    color: #d38e7e;
    font-size: 6.5vh;
    margin: 0;
    
}

.descText {
    font-family: 'Jaldi', sans-serif;
    font-size: 17px;
    text-align: center;
    margin-top: -42px;
    letter-spacing: 1.7px;
    color: #81656d;
}

.mainContent {
    background-color: rgb(255,255,255,0.4);
    border-radius: 12px;
}

.hideContent {
    display: none;
}

